<!--
  source: https://www.w3schools.com/howto/howto_js_todolist.asp  (modified by netprogs.pl for the course purposes)
-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
